<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
        <span>Grupo HSE</span>
        <span class="spacer-btns-nav"></span>

    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="example-container" [style.marginTop.px]="mobileQuery.matches ? 56 :0">

    <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">

        <mat-nav-list>
            <a mat-list-item role="listitem" routerLinkActive='active' [routerLink]="['dashboard']">DashBoard</a>
            <a mat-list-item role="listitem" routerLinkActive='active' [routerLink]="['seguimientoAccidentes']">Seguimiento de Accidentes</a>

            <a mat-list-item role="listitem" routerLinkActive='active' [routerLink]="['reporteEvidencia']">Reporte de evidencias</a>

            <a mat-list-item role="listitem" routerLinkActive='active' [routerLink]="['ciudad']">Ciudades</a>

            <a mat-list-item role="listitem" routerLinkActive='active' [routerLink]="['supervisor']">Supervisor</a>

            <a mat-list-item role="listitem" routerLinkActive='active' [routerLink]="['potencial']">Potencial</a>

            <a mat-list-item role="listitem" routerLinkActive='active' [routerLink]="['contratista']">Contratistas</a>


            <a mat-list-item role="listitem" routerLinkActive='active' [routerLink]="['empresaInvolucrada']">Empresa Involucrada</a>

            <a mat-list-item role="listitem" routerLinkActive='active' [routerLink]="['area']">Area</a>

            <a mat-list-item role="listitem" routerLinkActive='active' [routerLink]="['actividadaInvolucrada']">Actividad Involucrada</a>


            <a mat-list-item role="listitem" routerLinkActive='active' [routerLink]="['clasificaciones']">Clasificaciones</a>


            <a mat-list-item role="listitem" routerLinkActive='active' [routerLink]="['partesCuerpo']">Partes del cuerpo</a>



            <a mat-list-item role="listitem" routerLinkActive='active' [routerLink]="['tiposLesion']">Tipo de lesion/daño</a>

            <a mat-list-item role="listitem" routerLinkActive='active' [routerLink]="['planesAccion']">Planes de accion</a>
            <a mat-list-item role="listitem" routerLinkActive='active' [routerLink]="['usuarios']">Usuarios</a>

            <a mat-list-item role="listitem" (click)="logout()" class="logout">Cerrar sesion</a>
        </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>

        <router-outlet>
        </router-outlet>


    </mat-sidenav-content>
</mat-sidenav-container>